body {
	background-image: url("GymBackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.header {
	text-align: center;
	font-size: 20px;
	color: white;
}
.paragraph1 {
	text-align: left;
	color: white;
}
